{% extends 'harry/basefile.html' %} {% load static %} {% block title %} Harender Bhadana | Event
{% endblock %} {%block metadescription %}
<meta name="tittle" content="" />
<meta name="description" content="" />
<meta name="keywords" content="" />
{% endblock %} {% block body %} 
<div class="event-box-area margin-top-115 padding-bottom-115" style="margin-top: 93px;">
        <div class="container">
           <div class="row">
              
              <div class="col-lg-6">
                 <div class="upcoming-box">
                    <div class="ub-image">
                       
                       <a href="/eventdetailview/the-importance-of-social-welfare-in-our-country-2">
                       <img src="/harry/static/images/banner.jpg" alt="" class="prod-size"></a>
                       
                    </div>
                    <div class="date-box">
                       <span class="date month">Jan. 16, 2023</span>
                    </div>
                    <div class="ub-content">
                       <h4>The Importance of social welfare in our country</h4>
                       <p>
                          <i class="fa fa-map-marker"></i> &nbsp;Noida
                       </p>
                       <p></p><p>Social welfare is a crucial</p>
                       <a href="/eventdetailview/the-importance-of-social-welfare-in-our-country-2" class="card-footer-item" style="color: black">Read More <i class="fas fa-long-arrow-right"></i></a>
                    </div>
                 </div>
              </div>
              
              <div class="col-lg-6">
                 <div class="upcoming-box">
                    <div class="ub-image">
                       
                       <a href="/eventdetailview/the-importance-of-social-welfare-in-our-country">
                       <img src="/harry/static/images/banner.jpg" alt="" class="prod-size"></a>
                       
                    </div>
                    <div class="date-box">
                       <span class="date month">Feb. 28, 2023</span>
                    </div>
                    <div class="ub-content">
                       <h4>Harender Bhadana: Leading the Development Revolution</h4>
                       <p>
                          <i class="fa fa-map-marker"></i> &nbsp;Noida
                       </p>
                       <p></p><p>In recent years, there has </p>
                       <a href="/eventdetailview/the-importance-of-social-welfare-in-our-country" class="card-footer-item" style="color: black">Read More <i class="fas fa-long-arrow-right"></i></a>
                    </div>
                 </div>
              </div>
              
           </div>
        </div>
        <!-- <div class="row">
           <div class="col-lg-12 col-md-12 col-xs-12">
             <div class="btn-wrapper text-center">
               <button class="btn btn-custom-primary">Load More</button>
             </div>
           </div>
           </div> -->
     </div>
{% endblock %}


