{% extends 'harry/basefile.html' %} {% load static %} {% block title %} Harender Bhadana
{% endblock %} {%block metadescription %}
<meta name="tittle" content="" />
<meta name="description" content="" />
<meta name="keywords" content="" />
{% endblock %} {% block body %}     
     
     <div class="container">
        <div class=" py-5">
           <div class="d-flex border-bottom">
              <i class="fa-solid fa-newspaper icons_head"></i>
              <h3 class="pl-2 head_color">More News</h3>
           </div>
        </div>
        <div class="row">
          
           <div class="col-lg-6 col-md-6 card-margin">
              <a href="/newsdetailview/gain-knowledge-from-the-past-year-and-embrace-the">
                 <div class="main-container">
                    <img src="/harry/static/images/banner.jpg" alt="" width="100%">
                    <div class="overlay">
                       <div class="main-description text-center">
                          <div class="title">
                            Gain knowledge from the past year, and embrace the new year
                          </div>
                       </div>
                    </div>
                 </div>
              </a>
           </div>
           
           <div class="col-lg-6 col-md-6 card-margin">
             
              <a href="/newsdetailview/news-2">
                 <div class="main-container">
                    <img src="/harry/static/images/banner.jpg" alt="" width="100%" style="height:245px;">
                    <div class="overlay">
                       <div class="main-description text-center">
                          <div class="title">
                             गण-तंत्र का माखौल उड़ाने की किसी को इजाजत नहीं
                          </div>
                       </div>
                    </div>
                 </div>
              </a>
              
              <div class="row mt-4">
                
                 <div class="col-lg-6 col-md-6 card-margin">
                    <a href="/newsdetailview/news">
                       <div class="main-container">
                          <img src="/harry/static/images/banner.jpg" alt="" width="100%" style="height:138px;">
                          <div class="overlay">
                             <div class="main-description text-center">
                                <div class="title">
                                  समाज कल्याण फेड…
                                </div>
                             </div>
                          </div>
                       </div>
                    </a>
                 </div>
                 
                 <div class="col-lg-6 col-md-6 card-margin">
                    <a href="/newsdetailview/delhi-ghaz-32">
                       <div class="main-container">
                          <img src="/harry/static/images/banner.jpg" alt="" width="100%" style="height:138px;">
                          <div class="overlay">
                             <div class="main-description text-center">
                                <div class="title">
                                  Delhi-Ghaz:प्रथ…
                                </div>
                             </div>
                          </div>
                       </div>
                    </a>
                 </div>
                 
              </div>
           </div>
        </div>
     </div>

     <div class="row py-2">
         
        <div class="service-block-two col-lg-4 col-md-6 col-sm-12">
           <div class="inner-box">
              <div class="shape-one"></div>
              <div class="shape-two"></div>
              <div class="icon-box"> <span class="icon flaticon-coding-1"></span> </div>
              <div><i class="fa-solid fa-address-card text-white icones"></i></div>
              <h5 style="color:white"> Registered Members</h5>
              <div style="color: white;"><p><span style="color:#ffffff">Our community continues to grow, and we are proud to have 8521 members on board. Join us and be part of a vibrant…</span></p></div>
           </div>
        </div>
        
        <div class="service-block-two col-lg-4 col-md-6 col-sm-12">
           <div class="inner-box">
              <div class="shape-one"></div>
              <div class="shape-two"></div>
              <div class="icon-box"> <span class="icon flaticon-coding-1"></span> </div>
              <div><i class="fa-solid fa-tent text-white icones"></i></div>
              <h5 style="color:white"> Campaigns Done</h5>
              <div style="color: white;"><p><span style="color:#ffffff">We have successfully executed 4567 campaigns, helping businesses achieve their marketing goals. Our team's ex…</span></p></div>
           </div>
        </div>
        
        <div class="service-block-two col-lg-4 col-md-6 col-sm-12">
           <div class="inner-box">
              <div class="shape-one"></div>
              <div class="shape-two"></div>
              <div class="icon-box"> <span class="icon flaticon-coding-1"></span> </div>
              <div><i class="fa-sharp fa-solid fa-layer-group text-white icones"></i></div>
              <h5 style="color:white"> Coverage Areas</h5>
              <div style="color: white;"><p><span style="color:#ffffff">&nbsp;Our reach is vast, covering 2345 areas across the country. No matter where your business is located, we hav…</span></p></div>
           </div>
        </div>
        
        <div class="service-block-two col-lg-4 col-md-6 col-sm-12">
           <div class="inner-box">
              <div class="shape-one"></div>
              <div class="shape-two"></div>
              <div class="icon-box"> <span class="icon flaticon-coding-1"></span> </div>
              <div><i class="fa-solid fa-microphone text-white icones"></i></div>
              <h5 style="color:white"> Speeches</h5>
              <div style="color: white;"><p>&nbsp;<span style="color:#ffffff">Bhagvanta Singh's speeches showcase his expertise on leadership, management, and social issues. With hi…</span></p></div>
           </div>
        </div>
        
        <div class="service-block-two col-lg-4 col-md-6 col-sm-12">
           <div class="inner-box">
              <div class="shape-one"></div>
              <div class="shape-two"></div>
              <div class="icon-box"> <span class="icon flaticon-coding-1"></span> </div>
              <div><i class="fa-solid fa-newspaper text-white icones"></i></div>
              <h5 style="color:white"> Subscribe to Newsletter</h5>
              <div style="color: white;"><p><span style="color:#ffffff">Stay up-to-date with the latest news, events, and promotions by subscribing to our newsletter. Be the first to kn…</span></p></div>
           </div>
        </div>
        
        <div class="service-block-two col-lg-4 col-md-6 col-sm-12">
           <div class="inner-box">
              <div class="shape-one"></div>
              <div class="shape-two"></div>
              <div class="icon-box"> <span class="icon flaticon-coding-1"></span> </div>
              <div><i class="fa-solid fa-image text-white icones"></i></div>
              <h5 style="color:white"> Gallery</h5>
              <div style="color: white;"><p><span style="color:#ffffff">Visit our gallery and see our accomplishments. From community initiatives to public service events, we document o…</span></p></div>
           </div>
        </div>
        
     </div>
    {% endblock %}


   