{% extends 'harry/basefile.html' %} {% load static %} {% block title %} Harender Bhadana | Campagion
{% endblock %} {%block metadescription %}
<meta name="tittle" content="" />
<meta name="description" content="" />
<meta name="keywords" content="" />
{% endblock %} {% block body %} 
<div class="card mb-3" style="max-width: 540px; margin-left:187px; margin-top:90px">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/harry/static/images/banner.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
{% endblock %}      

      
      
